# Ignore everything in root
/*

# Except for .py files in the package,
!/holographic/**/*.py
# image files,
!/img/*
# analysis data files,
!/plot_data/*
# example scripts,
!/scripts/*
# and some files in root
!README.md
!.gitignore
