# Ignore everything in root
/*

# Except for .py files in the package,
!/holographic/**/*.py
# image files,
!/img/
# analysis data files,
!/plot_data/
# and some files in root
!single_example.py
!aggregate_example.py
!analysis_data_pts.py
!plot_analysis.py
!plot_lambdas.py
!README.md
!.gitignore
