# Ignore everything in root directory,
/*

# except this file and README.md
!.gitignore
!README.md

# Unignore these directories
!/holographic/
!/img/
!/plot_data/
!/scripts/
!/control/

# Ignore everything in /plot_data/ except README.md
/plot_data/*
!/plot_data/README.md

# Ignore all compiled Python files
*.pyc
